header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99999999999;
}

header img {
    width: 6rem;
}