doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="La bourse de sous-traitance numérique (BONUS) est une plateforme digitale d’intermediation et de qualification de prestataire et de fournisseurs de biens/services au Gabon.")

    link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/dropdown.css")
    link(rel="stylesheet" href="/css/landing_page.css")
    link(rel="stylesheet" href="/css/landing_page_mobile.css")
    title Bienvenue sur BONUS - La Bourse de Sous-traitance Numérique du Gabon

  body
    main
      header
        img(src="/img/bonus.png" class="logo" alt="Logo BONUS")

        .drawer
          nav
            a(href="#apropos") A propos
            a(href="#users") Utilisateurs
            a(href="#marketplace") Marketplace
            a(href="#contact") Contact

          .actions
            .dropdown
              button.plain-round-btn(onclick="visite('inscription','#users')" style="width: 150px;") S'inscrire
              .menu-wrapper 
                .dropdown-menu
                  button.dropdown-menu-button(onclick="visite('prestataire', '/prestataire')") Prestataire
                  button.dropdown-menu-button(onclick="visite('donneur-dordre', '/donneur-dordre')") Donneur d'ordre

            button.outline-round-btn(onclick="visite('connexion', 'https://app.gobonus.ga')" style="width: 150px;") Se connecter
        .menu
          button.menu-button
            span &times;
            i(class="fas fa-bars")
      section#home
        .text
          h1 Bourse numérique de sous-traitance
          h2 Donnez du Bonus à vos appels d'offres.

          p La bourse de sous-traitance numérique (BONUS) est une plateforme d’intermediation et de qualification de prestataire et de fournisseurs de biens/services au niveau local

        img(src="/img/happy_man.png")      
      section#apropos

        p.summury Bonus est une plateforme digitale fiable qui vous permet de gérer et d’exécuter vos marchés en toute confiance.

        .proposition-valeurs
          article
            .icon
              i(class="fas fa-graduation-cap")
            .content
              h2 Un système fiable pour la qualification des fournissseur

              p En plus de nos services de portage administratif,  Bonus  propose un algorithme de notation des prestataires se basant sur plusieurs critères alignés aux standards de chaque secteur et aux exigences  de votre cahier de charge.

          article
            .icon
              i(class="fas fa-cash-register")
            .content
              h2 Un outil efficace pour faciliter les processus d’achat

              p Bonus mets en place des marketplaces qui centralisent l’ensemble des mises en relation entre les donneurs d’ordres et les prestataires. En tant que tier de confiance, Bonus s’assure de la conformité des transactions et des parties prenantes dans le cadre de l’espace OHADA.

          article
            .icon
              i(class="fas fa-chart-line")
            .content
              h2 Une innovation pour booster la croissance des PME

              p La bourse numérique de sous-traitance vous aide à vous mettre en relation d’affaires avec des centaines de fournisseurs de services numériques et intellectuels. Avec son option en marque blanche, créez une bourse interne pour vos fournisseurs, sous-traitants et partenaires.

      section#users
        article
          .illustration
            img(src="/img/donneur_d_ordre.png" alt="Illustration des donneurs d'ordre")
          .content
            h1 Espace donneur d’ordre

            p Vous êtes une administration, une grande entreprise, une PME/PMI ou un organisme international.

            p Accédez à une base de données de professionnels qualifiés et gérez efficacement vos appels d’offres.
            button.color-1(onclick="visite('donneur-dordre', '/donneur-dordre')") Commencez à gérer vos appels d’offres

        article
          .content
            h1 Espace prestataires

            p Vous êtes un fournisseur, une PME/PMI, une startup, un freelance ou vous exercez une profession libérale et vous êtes à la recherche de nouveaux marchés.

            p Accédez à un grand volume de marché public ou privé  en consultant les marketplaces de BONUS.
            button.color-3(onclick="visite('prestataire', '/prestataire')") Commencez à postuler à des appels d’offfre

          .illustration
            img(src="/img/prestataire.png" alt="Illustration des prestataire")

      section#marketplace

        p.summury Grâce à ses
          strong Marketplaces
          span , Bonus ambitionne de simplifier l’exécution des transactions commerciales sur les marchés africains et internationaux.

        .marketplaces
          .card
            .card-content

              p Des propositions de marché sont disponibles pour les prestataires inscrits sur BONUS

              p.divider-quad(class="color-3")
              .space
              button.color-1(onclick="visite('marketplace1', '/prestataire')") Accédez à la marketplace

          .card
            .card-content

              p Les grandes entreprises peuvent créer leur propre marketplace personnalisé

              p.divider-quad(class="color-3")
              .space
              button.color-1(onclick="visite('marketplace2', '/donneur-dordre')") Accédez à la marketplace

          .card
            .card-content

              p Les donneurs d’ordre peuvent publier leurs appels d’offres dans la marketplace de Bonus

              p.divider-quad(class="color-3")
              .space
              button.color-1(onclick="visite('marketplace3','/donneur-dordre')") Accédez à la marketplace

      footer#contact
        h2 Pour plus d’information, n’hésitez pas à nous contacter
        .col-3
          .logo-bonus
            img(src="/img/bonus_b.png" class="bonus-b" alt="Logo Bonus B")
          .reseaux
            h3 Nos Réseaux
            .socials
              a.social(href="#")
                i(class="fab fa-facebook" style="color: #3B5999;")

                p Facebook
              a.social(href="#")
                i(class="fab fa-twitter" style="color: #00ACEE;")

                p Twitter
              a.social(href="#")
                i(class="fab fa-instagram" style="color: #8a3ab9;")

                p Instagram

          .nos-coordonnees
            h3 Nos Coordonnées
            .coordonnees
              .social
                i(class="far fa-envelope" style="color: #ffffff;")

                p
                  a(href="mailto:contact@gobonus.ga" style="color:white; font-size: 16px; text-decoration: none;") contact@gobonus.ga
              .social
                i(class="fas fa-phone" style="color: #ffffff;")

                p +241 74 13 71 03
              .social
                i(class="fas fa-map-marker-alt" style="color: #ffffff;")

                p BP 2280, Rue Pecqueur Centre Ville, Libreville Gabon

        .develop
          p  
            span Développé par
            a(target="blank" href="http://www.sing.ga")  SING SA
          a(href="#") Conditions générales d'utilisation
          a(href="#") Politique de confidentialité

        p.copyright &copy; BONUS | Bourse numérique de sous traitance

    script(src="/js/landing_page.js")
