doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/register.css")
    link(rel="stylesheet" href="/css/loader.css")
    title BONUS - Inscription des donneurs d'ordre

  body
    
    include includes/loading_modal.pug
  
    header
      img(src="/img/bonus.png" alt="Logo de Bonus" class="logo")
      a.outline(href="/#users") En savoir plus

    main

      h1 Demande d'inscription en tant que donneur d'ordre
      
      p.feedback

      .form
      
        h2
          span 1
          em Identification
      
        .nom-prenom
          .form-group
            input(type="text" id="nom" name="nom")
            label(for="nom") Nom

          .form-group
            input(type="text" id="prenom" name="prenom")
            label(for="prenom") Prénom

        .form-group
          input(type="text" id="entreprise" name="entreprise")
          label(for="entreprise") Nom de votre entreprise 

        .form-group
          input(type="file" onchange="onloadLogo(this)" id="logo" name="logo")
          label(for="logo") Image du Logo

        .form-group
          input(type="text" id="adresse" name="adresse")
          label(for="adresse") Adresse du siège
          
        .form-group
          input(type="tel" id="telephone" name="telephone")
          label(for="telephone") Numéro de téléphone 

        .form-group
          input(type="email" id="email" name="email")
          label(for="nom") Adresse email

        h2
          span 2
          em Qualification 

        .form-group
          input(type="file" id="fiche_circuit" onchange="onloadFicheCircuit(this)" name="fiche_circuit")
          label(for="fiche_circuit") 
            span Fiche circuit (Facultatif)
            span.filename

        h2
          span 3
          em Enregistrement 

        p.legal En cliquant sur envoyer la demande vous reconnaissez avoir pris connaissance et accepté les termes des documents suivants:
        
        .form-group-checkbox
          input#politique(type="checkbox" name="politique")
          label
           a(href="#", target="_blank", rel="noopener noreferrer") Politique de confidentialité
          
        .form-group-checkbox
          input#condition(type="checkbox" name="condition")
          label 
            a(href="#", target="_blank", rel="noopener noreferrer") Condition d'utilisation

        button(onclick="registerDonneurDOrdre()") Envoyer la demande
    
      
      footer
        p Copyright &copy; 2021
        img(src="/img/bonus_b.png" alt="Logo de Bonus" class="logo-gray")
    
    script(src="/js/script.js")
    script(src="/js/register.js")
