doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/loader.css")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/register.css")
    title BONUS - Inscription des prestataires

  body
  
    include includes/loading_modal.pug
  
    header
      img(src="/img/bonus.png" alt="Logo de Bonus" class="logo")
      a.outline(href="/#users") En savoir plus

    main

      h1 Demande d'inscription en tant que prestataire

      p.feedback

      .form

        h2
          span 1
          em Identification

        .nom-prenom
          .form-group
            input(type="text" id="nom" name="nom")
            label(for="nom") Nom*

          .form-group
            input(type="text" id="prenom" name="prenom")
            label(for="prenom") Prénom*

        .form-group
          input(type="text" id="entreprise" name="entreprise")
          label(for="entreprise") Nom de votre entreprise

        .form-group
          input(type="email" id="email" name="email")
          label(for="nom") Adresse email*


        h2
          span 2
          em Qualification 

        .form-group
          input(type="file" onchange="onloadCV(this)" id="cv" name="cv")
          label(for="cv") CV
          
        .form-group
          input(type="file" id="fiche_circuit" onchange="onloadFicheCircuit(this)" name="fiche_circuit")
          label(for="fiche_circuit") 
            span Fiche circuit
            span.filename    
          
        .form-group
          input(type="file" onchange="onloadNonFaillite(this)" id="non_faillite" name="non_faillite")
          label(for="non_faillite") Attestation de non faillite
          
        .form-group
          input(type="file" onchange="onloadCNSS(this)" id="cnss" name="cnss")
          label(for="cnss")  Attestation CNSS
          
        .form-group
          input(type="file" onchange="onloadImposition(this)" id="imposition" name="imposition")
          label(for="imposition") Attestation d'imposition
          
        .form-group
          input(type="file" onchange="onloadCompteCertifie(this)" id="compte_certifie" name="compte_certifie")
          label(for="compte_certifie") 3 années de compte certifié

        .form-group
          textarea#reference(name="reference" cols="30" rows="10")
          label(for="nom")
            span Quelques références

        h2
          span 3
          em Enregistrement 

        p.legal En cliquant sur envoyer la demande vous reconnaissez avoir pris connaissance et accepté les termes des documents suivants:
        
        .form-group-checkbox
          input#politique(type="checkbox" name="politique")
          label
           a(href="#", target="_blank", rel="noopener noreferrer") Politique de confidentialité
          
        .form-group-checkbox
          input#condition(type="checkbox" name="condition")
          label 
            a(href="#", target="_blank", rel="noopener noreferrer") Condition d'utilisation

        button(onclick="registerPrestataire()") Envoyer la demande

      footer
        p Copyright &copy; 2021
        img(src="/img/bonus_b.png" alt="Logo de Bonus" class="logo-gray")
        
    script(src="/js/script.js")
    script(src="/js/register.js")
