doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/admin/admin_header.css")
        title=title

    body
        header
            img(src="/img/bonus.png" alt="Logo WebCars")
            nav
                a(href="/admin/utilisateurs") Utilisateurs
                a(href="/admin/logout") Deconnexion
        
        block content